.tags {
  margin-left: 0; }
  .tags li {
    color: white;
    background: black;
    padding: 1px 12px;
    margin-right: .2em;
    display: inline;
    border-radius: 200px; }
  .tags .location {
    color: #202e47;
    background-color: #e4e5f4; }

.marg-btm {
  margin-bottom: 100px; }

.avatar img {
  border-radius: 500px; }

.projects {
  list-style: none;
  margin-left: 0; }
  .projects li {
    display: inline;
    margin-right: .3em;
    background: #e2e9f1;
    padding: .1em .6em;
    margin-bottom: 1em; }

.current::before {
  position: absolute;
  content: "";
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: orange; }
